<!DOCTYPE html>
<html>

<head>
    <title>笔记</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/base/base.css">
    <style type="text/css">
    html,
    body {
        height: 100%;
        background-color: #f2f2f2 !important;
    }

    .wellcom {
        font-family: Matryoshka;
        font-size: 50px;
        text-align: center;
        padding-top: 18%;
    }
    </style>
</head>

<body>
    <div class="wellcom">
        Wellcom to 91tingshuo
    </div>
    <div align="center">tanshifengsky@gmail.com</div>
</body>

</html>